<html>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h2>Course Catalog</h2>
    <p>Below you will find a complete list of all courses offered down in Fragglerock.</p>
    <p>A deeper investigation of each course's curriculum can be seen by logging in.</p>
    <small>Courses are listed in ascending order by level.</small>
    <div class="courselist">
        <table>
            <tr><center><h3>Database Inventory of Degree Program Courses</h3></center></tr>
            <tr><td> </td><td> </td><td>Dept</td><td>Level</td><td>Preqs</td><td>Credits</td><hr></tr>
    <% if (courses.length > 0 ) { %>
        <% courses.forEach(course => { %>
           <tr><td><%=course.name%>:</td></tr>
                <tr><td><p><%=course.desc%></p></td></tr>
                <td><hr></td><td><hr></td><td><%=course.dept%>,<hr></td><td><%=course.levl%>,<hr></td><td><%=course.preq%>,<hr></td><td><%=course.cred%><hr></td>
            </tr>
            <% }) %>
        <% } else { %>
                <p>There are no database courses to display...</p>
            <% } %><!--EJS does serverside rendering of dynamic pages-->
        </table>
        </div>
    <%- include('./partials/foot.ejs') %>
</body>
</html>