<!DOCTYPE html>
<html lang="en">

<!--Header for page-->
<meta carset="UTF-8">
    <link href= "../public/assets/stylesheet.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="public/x-icon" href="../public/wembley.ico">
    <title>Lrn Uni :: Study</title>
    <!--not interested in doing the css since I didn't follow exactly and kind of thought about the final project while doing this-->
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
    body{
      max-width: 1200px;
      margin: 20px auto;
      padding: 0 20px;
      font-family: 'Noto Serif', serif;
      max-width: 1200px;
    }
    p, h1, h2, h3, a, ul{
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: #222;
    }
    /* nav & footer styles */
  
    nav{
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      text-transform: uppercase;
    }
    nav ul{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    nav li{
      list-style-type: none;
      margin-left: 20px;
    }
    nav h1{
      font-size: 3em;
    }
    nav p, nav a{
      color: #777;
      font-weight: 300;
    }
    footer{
      color: #777;
      text-align: center;
      margin: 80px auto 20px;
    }
    h2{
      margin-bottom: 40px;
    }
    h3{
      text-transform: capitalize;
      margin-bottom: 8px;
    }
    .content{
      margin-left: 20px;
    }
    /* index styles */
    /* details styles */
    /* create styles */
    .create-blog form{
      max-width: 400px;
      margin: 0 auto;
    }
    .create-blog input,
    .create-blog textarea{
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 8px;
    }
    .create-blog label{
      display: block;
      margin-top: 24px;
    }
    textarea{
      height: 120px;
    }
    .create-blog button{
      margin-top: 20px;
      background: crimson;
      color: white;
      padding: 6px;
      border: 0;
      font-size: 1.2em;
      cursor: pointer;
    }
    </style>
</head>

<!--Body of webpage-->
<body>
    <%- include('./partials/nav.ejs') %>
    <!--header/link to homepage-->
    <header>
        <h1 class="hlink">Student Home Page</h1>
    </header>
    <h3></h3>

    <div id="wrap"><!--Division in webpage-->

        <!--Navigation links for different webpages on website
        <nav>
            <div id="nav">
                <ul>
                    <li><a href="studentHome.html" class="active">Scheduled</a></li>
                    <li><a href="index.html" class="more">Explore</a></li>
                    <li><a href="index.html" class="more">Past Grades</a></li>
                    <li><a href="index.html" class="more">Enroll Now</a></li>
                    <li><a href="index.html" class="more">Check Out || Logout <br> (if nothing in cart)</a></li>
                </ul>
            </div>
        </nav>-->
        <div class="courselist">
            <table>
                <tr><center><h3>Database Inventory of Degree Program Courses</h3></center></tr>
                <tr><td> </td><td> </td><td>Dept</td><td>Level</td><td>Preqs</td><td>Credits</td><hr></tr>
        <% if (courses.length > 0 ) { %>
            <% courses.forEach(course => { %>
               <tr><td><%=course.name%>:</td></tr>
                    <tr><td><p><%=course.desc%></p></td></tr>
                    <td><hr></td><td><hr></td><td><%=course.dept%>,<hr></td><td><%=course.levl%>,<hr></td><td><%=course.preq%>,<hr></td><td><%=course.cred%><hr></td>
                </tr>
                <% }) %>
            <% } else { %>
                    <p>There are no database courses to display...</p>
                <% } %><!--EJS does serverside rendering of dynamic pages-->
            </table>
            </div>
    </div>
    
    <%- include('./partials/foot.ejs') %>
</body>

</html>